/* ==|====================
   Layout/Nav
   ======================= */
ul.menu {
 position: relative;
 margin: 2rem 0 0 0;
 li {
   position: relative;
   display: block;
   list-style: none;
   width: 100%;
   &:first-child::after {content: "\e915";}
   &:nth-child(2)::after {content: "\e915";}
   &:nth-child(3)::after {content: "\e915";}
   &:nth-child(4)::after {content: "\e923";}
   &:nth-child(5)::after {content: "\e923";}
   &:nth-child(6)::after {content: "\e90d";}
   &:nth-child(7)::after {content: "\e915";}
   &:nth-child(8)::after {content: "\e915";}
   &:nth-child(9)::after {content: "\e90b";}
   &::after {
     position: absolute;
     top: 1.1rem; left: 1.8rem;
     font-family: 'Font-icons' !important;
     speak: none;
     color: $cornflower-blue;
     font-weight: 600;
     text-transform: none;
     font-size: 2.9rem;
     line-height: 1;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     pointer-events: none;
     z-index: 2;
   }
   a {
     display: block;
     padding: 1.2rem 0 1.2rem 5.8rem;
     color: $cornflower-blue;
     font-family: $medium;
     font-size: 1.6rem;
     line-height: 1.2;
     text-decoration: none;
     z-index: 4;
     span {
       padding: .2rem .8rem;
       font-size: 1.3rem;
       border-radius: 2rem;
       background-color: $polar;
       color: $cornflower-blue;
     }
   }
   &:hover, .is-active {
     background-color: $medium-purple;
   }
   &:hover, .is-active {
      color: $cornflower-blue;
      a {color: $cornflower-blue}
      &::after {color: $cornflower-blue;}
    }
  }
}

ul.sub-menu {
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  padding: 8rem 5rem 8rem 7rem;
  top: 0; left: 24.8rem;
  width: auto; min-width: 29rem; height: 100vh;
  background: white;
  z-index: 5;
  &:hover {display: block; opacity: 1; visibility: visible;}
  li {
    list-style: none;
    font-family: $medium;
    font-size: $font-size-base;
    &.title {padding: 2rem 0 .5rem 0;}
    a {
      margin-bottom: 1rem;
      display: block;
      color: $lynch;
      font-family: $regular;
      font-size: 1.6rem;
      &:hover, &.is-active, &.is-active::before, &:hover::before {color: $cornflower-blue;}
      &::before {
        position: absolute;
        left: -3.2rem; top: -.1rem;
        /* use !important to prevent issues with browser extensions that change fonts */
        font-family: 'Font-icons' !important;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 2.6rem;
        line-height: 1;
        color: $lynch;
        /* Better Font Rendering =========== */
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        z-index: 3;
      }
    }
    &:first-child a::before {content: "\e915";}
    &:nth-child(2) a::before {content: "\e915";}
    &:nth-child(3) a::before {content: "\e915";}
    &:nth-child(4) a::before {content: "\e90b";}
    &:nth-child(5) a::before {content: "\e923";}
    &:nth-child(6) a::before {content: "\e90d";}
    &:nth-child(7) a::before {content: "\e915";}
    &:nth-child(8) a::before {content: "\e915";}
    &:nth-child(9) a::before {content: "\e90b";}
    &:nth-child(10) a::before {content: "\e923";}
    &:nth-child(11) a::before {content: "\e90d";}
    &:nth-child(12) a::before {content: "\e907";}
    &:nth-child(13) a::before {content: "\e915";}
    &:nth-child(14) a::before {content: "\e90b";}
  }
}

ul.menu-options {
  position: absolute;
  display: none;
  margin-top: 3.8rem; margin-left: 17rem;
  padding: 2rem;
  width: auto; height: auto;
  border-radius: .6rem;
  background: $cornflower-blue;
  font-family: $medium;
  text-align: left;
  z-index: 10;
  li {list-style: none;}
}
