/* ==|====================
   Module/Box
   ======================= */

.container-recents-factures, .container-recents-devis {
 position: relative;
 margin: 6rem auto 6rem auto;
 .box-nouveau-devis {
   height: 23.8rem; width: 15rem;
   display: table-cell;
   vertical-align: middle;
   border: 1px dashed $porcelain;
   border-radius: 5px;
   p {color: $lynch;}
   span {color: $yellow-green; font-family: $medium;}
 }
 .box-recent-devis {
   height: 20rem; width: 15rem;
   display: table-cell;
   vertical-align: bottom;
   background: white;
   &:hover .box-devis-info, &:hover .box-status {
     filter: brightness(95%);
   }
   .box-devis-info {
     border: 1px solid $porcelain;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     border-bottom: 0;
     padding: 2rem 2rem 1rem 2rem;
     p {
       margin-bottom: -0.4rem;
       font-size: 1.4rem;
       color: $lynch;
       &:nth-child(1) {margin-bottom: 0.2rem;}
       &:nth-child(2) {font-family: $medium;}
       &:nth-child(3) {margin-bottom: 6rem;}
       &.text-right {margin-bottom: 0.2rem; font-size: 2rem; color: $tarawera;}
     }
   }
   .box-status {
     position: relative;
     padding: 1.3rem 0 0.2rem 0;
     margin-top: 0rem;
     background: $porcelain;
     text-transform: uppercase;
     border: 1px solid $porcelain;
     border-bottom-left-radius: 5px;
     border-bottom-right-radius: 5px;
     &.frost {
       background: $frost;
       p {color: $eastern-blue;}
     }
     &.carousel-pink {
       background: $carousel-pink;
       p {color: $rose-bud;}
     }
     &.rum-swizzle {
       background: $rum-swizzle;
       p {color: $gold-tips;}
     }
     p {font-family: $medium; color: $regent-gray;}
    }
  }
}
