/* ==|====================
   Module/Boutons
   ======================= */
button {
  cursor: pointer;
  transition: all .03s cubic-bezier(0.045, 0.715, 0.250, 1.000);
  &.btn-primary {
    height: 4rem;
    padding: 0 3rem;
    box-shadow: 0 .1rem .8rem rgba(35, 52, 61, .3);
    border-radius: 2rem;
    color: white;
    background-color: $denim;
    font-size: $font-size-base;
    font-family: $bold-heebo;
    line-height: 4.2rem;
    &:hover {background-color: $cloud-burst}
  }
  &.btn-secondary {
    height: 4rem;
    color: $denim;
    font-size: $font-size-base;
    font-family: $regular-heebo;
    &:hover {color: $cloud-burst}
  }
}
